.projects-container {
  background-size: cover;
  height: 80vh;
  display: flex;
  position: relative;
}

.projects-container .project-title {
  text-align: center;
  margin: 3.5rem auto;
}

.projects {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateY(-42%) translateX(-50%);
  transform: translateY(-42%) translateX(-50%);
  display: flex;
}

@media (max-width: 1000px) {
  .projects-container {
    height: auto;
    position: static;
    display: block;
  }

  .projects {
    position: static;
    display: block;
    height: auto;
    -moz-transform: translateY(0) translateX(0);
    transform: translateY(0) translateX(0);
  }
}
